* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0edea;
}
h1 {
  padding-top: 5px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e60c0c;
  /* height: 56px; */
  padding-top: 8px;
}

nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}
.logo {
  max-width: 64px;
  max-height: 64px;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  max-height: 0px;
  transform: scaleY(0);
  overflow: hidden;
  transition: max-height 1.5s ease-in-out, transform 2s ease-in-out;
  /* transition: all 2s ease-in-out; */

  justify-content: left;
}

.menu-burger.open {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  transform: scaleY(1);
  overflow: visible;
  justify-content: left;
  transition: max-height 2s ease-in-out, transform 1s ease-in-out;
}

.menu-links {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-left: 16px;
}

.burger-icon {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding: 8px;
}

ul li a {
  color: #f0edea;
  text-decoration: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #0f0e17;
  margin: 6px 0;
}
header {
  border: 2px solid #e60c0c;
  padding-bottom: 16px;
  margin-top: 8px;
}
h2,
p {
  color: #0f0e17;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.restaurants h2 {
  text-decoration: underline #e60c0c;
}

.containerImgrestaurants {
  display: flex;
  flex-direction: column;
}

.imgRestau {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 16px;
}

.imgRestau img {
  width: 100%;
  border-color: #e60c0c;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

.containerFastFood {
  display: flex;
  flex-direction: column;
}

.imgFastFood {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 16px;
}

.imgFastFood img {
  width: 100%;
  border-color: #e60c0c;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

.containerBoulangerie {
  display: flex;
  flex-direction: column;
}

.imgBoulangerie {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 16px;
}

.imgBoulangerie img {
  width: 100%;
  border-color: #e60c0c;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

main h2 {
  margin-top: 48px;
  text-decoration: underline #e60c0c;
  text-align: left;
  background-color: #e60c0c;
  padding-left: 32px;
}

.imgRestau h3 {
  font-size: larger;
  text-align: left;
}

.imgFastFood h3 {
  font-size: larger;
  text-align: left;
}

.imgBoulangerie h3 {
  font-size: larger;
  text-align: left;
}

@media screen and (min-width: 481px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: #e60c0c;
    padding-top: 8px;
    padding-bottom: 16px;
  }
  .logo {
    max-width: 15%;
    max-height: 15%;
  }













}
