* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0e17;
}
h1 {
  padding-top: 5px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #ff8906;
  height: 56px;
  padding-top: 8px;
}
.logo {
  max-width: 56px;
  max-height: 56px;
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  padding-top: 4px;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: #0f0e17;
  margin: 6px 0;
}
header {
  border: 2px solid #ff8906;
  padding-bottom: 16px;
  margin-top: 8px;
}
h2,
p {
  color: #f0edea;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.restaurants h2 {
  text-decoration: underline #ff8906;
}

.containerImgrestaurant {
  display: flex;
  flex-direction: column;
}

.imgRestau {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-top: 16px;
}

.imgRestau img {
  width: 100%;
  border-color: #ff8906;
box-shadow:10px 5px 5px #f0edea;
  border-radius: 5%;
  height: 100%;
  object-fit: cover;
}


.containerFastFood {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}


.imgFastFood {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-top: 16px;
}

.imgFastFood img {
  width: 100%;
  border-radius: 5%;
  height: 100%;
  object-fit: cover;
}

.containerBoulangerie {
  display: flex;
  flex-direction: column;
  
}

.imgBoulangerie {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-top: 16px;
}

.imgBoulangerie img {
  width: 100%;
  border-radius: 5%;
  height: 100%;
  object-fit: cover;
}

main h2 {
  margin-top: 48px;
  text-decoration: underline #ff8906 ;
}