* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* @font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Black.ttf") format("ttf");
} */

body {
  background-color: #f0edea;
}
h1 {
  padding-top: 5px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dc273a;
}

nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-right: 9%;
}
.logo {
  max-width: 64px;
  max-height: 64px;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  max-height: 0px;
  transform: scaleY(0);
  overflow: hidden;
  transition: max-height 1.5s ease-in-out, transform 2s ease-in-out;
  /* transition: all 2s ease-in-out; */
  margin-left: 10%;
  justify-content: left;
}

.menu-burger.open {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  margin-left: 10%;
  transform: scaleY(1);
  overflow: visible;
  justify-content: left;
  transition: max-height 2s ease-in-out, transform 1s ease-in-out;
}

.menu-links {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-left: 16px;
}

.burger-icon {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #0f0e17;
  margin: 6px 0;
}
header {
  border: 2px solid #dc273a;
  padding-bottom: 16px;
  margin-top: 8px;
}
h2,
p {
  color: #0f0e17;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

.restaurants h2 {
  text-decoration: underline #dc273a;
}

.containerImgrestaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgRestau {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 16px;
}

.imgRestau img {
  /* width: 100%; */
  width: 266px;
  border-color: #dc273a;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

.containerFastFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgFastFood {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 16px;
}

.imgFastFood img {
  /* width: 100%; */
  width: 266px;
  border-color: #e60c0c;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

.containerBoulangerie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgBoulangerie {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 16px;
}

.imgBoulangerie img {
  /* width: 100%; */
  width: 266px;
  border-color: #e60c0c;
  border-radius: 5%;
  height: 200px;
  object-fit: cover;
}

main h2 {
  margin-top: 36px;
  text-decoration: underline #e60c0c;
  text-align: left;
  background-color: #dc273a;
  padding-left: 32px;
}

.imgRestau h3 {
  font-size: larger;
  text-align: left;
}

.imgFastFood h3 {
  font-size: larger;
  text-align: left;
}

.imgBoulangerie h3 {
  font-size: larger;
  text-align: left;
}

main p {
  text-align: left;
  margin: 0%;
}

main button {
  margin-left: 90%;
}

footer {
  background-color: black;
  padding: 20px;
  margin-top: 30px;
}
.footerbar {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 10px;
  color: white;
}

@media screen and (min-width: 481px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #dc273a;
    padding-top: 8px;
    padding-bottom: 16px;
  }
  .logo {
    max-width: 15%;
    max-height: 15%;
  }

  .imgRestau img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    object-fit: cover;
    justify-content: center;
  }

  .imgFastFood img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    object-fit: cover;
    justify-content: center;
  }

  .imgBoulangerie img {
    /* max-width: 100%; */
    max-height: 100%;
    max-width: 257px;
    border-radius: 5%;
    object-fit: cover;
    justify-content: center;
  }

  .containerImgrestaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .containerFastFood {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .containerBoulangerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imgRestau {
    min-width: 257px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16px;
  }

  .imgFastFood {
    min-width: 257px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16px;
  }

  .imgBoulangerie {
    min-width: 257px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16px;
  }
  h1 {
    text-align: center;
    padding: 32px;
    font-size: 64px;
  }

  main p {
    max-width: 257px;
  }
  h1 {
    font-size: 64px;
  }
  .logo {
    max-width: 12%;
    max-height: 12%;
  }
}
